@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div id="header">
    <img id="header-img" src="~/Img/park-header.jpg" class="img-fluid" alt="Responsive Image" />
</div>
<div class="body-container">
    <div class="text-center mt-3">
        <h1 id="home-header" class="display-4 font-weight-bold">Knights Bridge Crossing</h1>
    </div>
    <div class="card-container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card mx-auto">
                    <div class="card-body">
                        <h5 class="card-title text-center">Events</h5>
                        <div class="card-text">
                            <h6>Meeting</h6>
                            <p>March 6 @@ 7:00pm</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card mx-auto">
                    <div class="card-body">
                        <h5 class="card-title text-center">Reminders</h5>
                        <p class="card-text">
                            <ul>
                                <li>Text</li>
                                <li>More Text</li>
                                <li>Some text</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card mx-auto">
                    <div class="card-body">
                        <h5 class="card-title text-center">Community Manager</h5>
                        <p class="card-text">Our Community Manager is Liz Hunnicutt and she can be reached via the following methods:</p>
                        <p class="card-text text-center">Phone: 503.000.000</p>
                        <p class="card-text text-center">Email: <a href="mailto:LizHunnicut@fmail.com">LizHunnicut@@fmail.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

