@page
@model KnightsBridge.Pages.Resources.IndexModel
@{
	ViewData["Title"] = "Index";
	Layout = "~/Pages/Shared/_Layout.cshtml";

}

<div class="container">
	<div class="text-center">
	<h1 id="home-header" class="display-4 font-weight-bold">Resources</h1>
	@if (Model.Uploads != null)
	{
		<ul class="list-unstyled">
			@foreach (System.IO.FileInfo file in Model.Uploads)
			{
				<li><a href="~/Downloads/@file.Name">@System.IO.Path.GetFileNameWithoutExtension(file.Name).Replace("_", " ")</a></li>
			}
		</ul>
	}
</div>
</div>


