@page
@model KnightsBridge.Pages.ResourcesModel
@{
    ViewData["Title"] = "Resources";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="text-center">
    <h1 id="home-header" class="display-4 font-weight-bold">Resources</h1>
</div>

