@page
@model KnightsBridge.Pages.Resources.UploadModel
@{
    ViewData["Title"] = "Upload";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="text-center">
    @if (Model.FileName != "Not Available")
	{
        <h1 class="display-4">@Model.FileName successfully uploaded.</h1>
	} else
	{
        <h1 class="display-4">Upload a file</h1>
	}

    <form method="post" enctype="multipart/form-data">
        <input type="file" asp-for="Upload"/>
        <button type="submit">Upload</button>
    </form>
</div>
