@page
@model KnightsBridge.Pages.Resources.UploadModel
@{
    ViewData["Title"] = "Upload";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">
        The file name is <br />
        @Model.FileName
    </h1>

    <form method="post" enctype="multipart/form-data">
        <input type="file" asp-for="Upload"/>
        <button type="submit">Upload</button>
    </form>
</div>
